.cartContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.cartItems {
    grid-template-columns: 1;
    display: contents;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary {
    position: sticky;
    top: 4rem;
    padding: 1.5rem;
    background-color: #76edc59e;
    height: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;


    & .total {
        font-size: large;
        font-weight: bold;
    }

    & p {
        letter-spacing: 5%;

        display: flex;
        justify-content: space-between;
    }

    & .checkout {

        font-family: var(--font-heading);

        font-size: medium;
        font-weight: bold;
        padding: 1rem 0.5rem;
        background-color: #e5a1ab;

        border: none;
        box-shadow: 4px 4px 7px -1px #aaa0a047;
        border-radius: 5px;
        width: auto;
        color: #ffffff;
        letter-spacing: 18%;
        text-transform: uppercase;

    }

}

.empty {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: clamp(1rem, 2.2vw, 1.5rem);

    & h2 {
        font-family: var(--font-heading);
    }

    & a {
        background-color: rgb(206 122 114 / 29%);
        border-radius: 100px;
        padding: 1em 1.5em;
        font-family: var(--font-body);
        text-transform: uppercase;
        transition: all 0.3s;
    }
}

@media screen and (hover: hover) {
    .empty a:hover {
        background-color: rgb(206 122 114 / 40%);
        transform: translateY(-6px);
        box-shadow: 0 4px 12px #00000029;
    }
}