.card {
    background-color: #d5e0dc82;
    border-radius: 10px;
    padding: 1rem;

    & h3 {
        font-family: var(--font-body);
        letter-spacing: 5%;
        font-size: medium;
        margin: 1em auto;
        text-align: center;
    }

    & .price {
        display: flex;
        justify-content: space-around;
        font-family: var(--font-body);

        & span {
            margin: 1ch;
        }
    }
}

.imgwrapper {
    margin: 10px auto;
    min-width: 180px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}


.imgwrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    /* hmm but looks like it isnt positioned against the wrapper */
    object-position: center;
    filter: drop-shadow(8px 9px 9px rgba(128, 128, 128, 0.657));
}

.cartCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 245, 220);
    border-radius: 10px;
    width: 600px;
}

.right {
    display: flex;
    align-items: center;
}