.card {
    background-color: #d5e0dc82;
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    align-items: center;

    & h3 {
        font-family: var(--font-body);
        letter-spacing: 5%;
        font-size: medium;

    }
}

.price {
    display: flex;
    flex-direction: column;
    font-family: var(--font-body);
    border-radius: 20px;

    & button {
        padding: 0;
        background-color: transparent;
        border: none;

        & svg {
            vertical-align: middle;
            transform: translateY(-1px) scale(1.1);
            stroke: white;
        }
    }
}

.countButtons {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206 122 114 / 48%);
    border-radius: 50px;
    width: 6rem;
    height: 2rem;
    gap: 0.9rem;
    color: white;
}

.imgwrapper {
    margin: 10px auto;
    min-width: 180px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}



.imgwrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    /* hmm but looks like it isnt positioned against the wrapper */
    object-position: center;
    filter: drop-shadow(8px 9px 9px rgba(128, 128, 128, 0.657));
}

.cartCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 245, 220);
    border-radius: 10px;
    width: 600px;
}

.right {
    display: flex;
    align-items: center;
}