.card {
    background-color: beige;
    border-radius: 10px;
    width: 200px;

}

.imgwrapper {
    margin: 10px auto;
    width: 180px;
    height: 250px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imgwrapper img {
    width: 160px;
    max-height: 240px;
    object-fit: contain;
    /* hmm but looks like it isnt positioned against the wrapper */
    object-position: center;
}

.cartCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(235, 245, 220);
    border-radius: 10px;
    width: 600px;
}

.right {
    display: flex;
    align-items: center;
}

.input {
    width: 3ch;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input[type=number] {
    -moz-appearance: textfield;
}