.nav {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 3em;
    font-family: var(--font-body);
}

.brand {
    margin-bottom: -0.2em;
}

.brandtext {
    text-transform: none;
    font-size: x-small;
    align-self: center;
    letter-spacing: 5%;
}

.count {
    display: flex;
}