.brand {
    margin-bottom: -0.2em;
    font-size: inherit;
}

.brandtext {
    text-transform: none;
    font-size: 0.4em;
    align-self: center;
    letter-spacing: 5%;
}

.count {
    display: flex;
    position: relative;
}