.wrapper {
    background-color: #f2f2f2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: clamp(1rem, 2.2vw, 1.5rem);

    & h1,
    & h2 {
        font-family: var(--font-heading);
    }

    & p {

        font-family: var(--font-body);
    }
}

.wrapper>* {
    transform: translateY(-2rem);
}

.wrapper a {
    background-image: radial-gradient(circle, rgba(200 232 221) 0%, rgba(219 219 219) 100%);
    border-radius: 100px;
    padding: 1em 1.5em;
    font-family: var(--font-body);
    text-transform: uppercase;
    transition: all 0.3s;

}

.label {
    color: #a99998;
    font-family: var(--font-body);
    letter-spacing: 10%;
}

@media screen and (hover: hover) {
    .wrapper a:hover {
        transform: translateY(calc(-2rem - 6px));
        box-shadow: 0 4px 12px #00000029;
    }
}