*,
:before,
:after {
  box-sizing: border-box;
}

body {

  min-height: 100vh;
}

ul,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-image: radial-gradient(circle, rgba(200 232 221) 0%, rgba(219 219 219) 100%);
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  & h1 {
    grid-column: 2;
  }

  & img {
    margin-right: 2em;
    justify-self: end;
    align-self: center;
    grid-column: 3;

    &:hover {
      cursor: pointer;
    }
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  background-image: radial-gradient(circle, rgba(200 232 221) 0%, rgba(219 219 219) 100%);
  padding: 0.5rem 1rem;
  z-index: 1;

  & a {
    text-transform: uppercase;
  }

  & img {
    justify-self: end;
    align-self: center;
    grid-column: 3;

    &:hover {
      cursor: pointer;
    }
  }
}

main {
  background-color: aliceblue;
}

main section {
  padding: 3rem;
}

section.categories {
  background-color: whitesmoke;
}

section.whyus {
  background-color: aliceblue;
}