@font-face {
  font-family: 'prata';
  src: url('./assets/fonts/Prata/Prata-Regular.ttf') format('ttf'),
    url('./assets/fonts/Prata/Prata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'sansation';
  src: url('./assets/fonts/Sansation/Sansation-Regular.ttf') format('ttf'),
    url('./assets/fonts/Sansation/webfontkit-20260821-055947/sansation-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocentro';
  src: url('./assets/fonts/Quattrocento/Quattrocento-Regular.ttf') format('ttf'),
    url('./assets/fonts/Quattrocento/quattrocento-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quattrocentro';
  src: url('./assets/fonts/Quattrocento/Quattrocento-Bold.ttf') format('ttf'),
    url('./assets/fonts/Quattrocento/quattrocento-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

:root {
  --font-heading: "quattrocentro", serif;
  --font-body: "sansation", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {

  min-height: 100vh;
}

ul,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  position: sticky;
  top: 0;
  background-image: radial-gradient(circle, rgba(200 232 221) 0%, rgba(219 219 219) 100%);
  padding: 0.5rem 1rem;
  z-index: 1;
  font-family: var(--font-heading);

  & a {
    text-transform: uppercase;
  }

  &>a {
    display: flex;
    flex-direction: column;
    width: min-content;
    text-transform: none;
  }

  & img {
    justify-self: end;
    align-self: center;
    grid-column: 3;

    &:hover {
      cursor: pointer;
    }
  }
}

main {
  background-color: aliceblue;
}

main section {
  padding: 3rem;
}

section.categories {
  background-color: whitesmoke;
}

section.whyus {
  background-color: #f9fdfc;
}