ul,
body,
h1 {
  margin: 0;
  padding: 0;
}

header {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  & h1 {
    grid-column: 2;
  }

  & img {
    margin-right: 2em;
    justify-self: end;
    align-self: center;
    grid-column: 3;

    &:hover {
      cursor: pointer;
    }
  }
}

nav {
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  padding: 8px;
}

a {
  text-decoration: none;
  color: black;
}